<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="PWAPIGroup">
			<section name="PWAPI" type="ProgrammableWebAPI.ConfigHandlers.PWWebAPIConfigurationSection, ProgrammableWebAPI" allowLocation="true" allowDefinition="Everywhere" />
		</sectionGroup>
	</configSections>
	<PWAPIGroup>
		<PWAPI>
			<hostname value="http://api.programmableweb.com" />
			<key value="XXXXXXXXXXXXXXXX" />
		</PWAPI>
	</PWAPIGroup>
</configuration>